.header_wrap {
    background-color: rgba(0,0,0,0.75);
    position: fixed; left: 0; top: 0; width: 100%;
    z-index: 999;
    backdrop-filter: blur(20px);
}
.header_wrap header {
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 90px;  height: 80px;
}
.header_wrap header h1 {}
.header_wrap header h1 a {}
.header_wrap header h1 a img {}
.header_wrap header .my_artist {}
.header_wrap header .my_artist p {display: inline-block;}
.header_wrap header .my_artist p:first-child {
    margin-right: 4px; color: #ccc; font-family: 'YClover-Bold';
}
.header_wrap header .my_artist p > img {}
/* MY ARTIST 클릭 시 활성화되는 영역 (S) */
.header_wrap header .my_artist .artist_sub {display: none;}
/* MY ARTIST 클릭 시 활성화되는 영역 (E) */
.header_wrap header nav {}
.header_wrap header nav a {display: inline-block;}
.header_wrap header nav a:nth-child(2) {margin: 0 16px;}
.header_wrap header nav a img {}