.header_wrap {
    background-color: rgba(0,0,0,0.75);
    position: fixed; left: 0; top: 0; width: 100%;
    z-index: 999;
    backdrop-filter: blur(20px);
}
.header_wrap header {
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 90px;  height: 80px;
}
.header_wrap header h1 {}
.header_wrap header h1 a {}
.header_wrap header h1 a img {}
.header_wrap header .my_artist {}
.header_wrap header .my_artist p {display: inline-block;}
.header_wrap header .my_artist p:first-child {
    margin-right: 4px; color: #ccc; font-family: 'YClover-Bold';
}
.header_wrap header .my_artist p > img {}
/* MY ARTIST 클릭 시 활성화되는 영역 (S) */
.header_wrap header .my_artist .artist_sub {display: none;}
/* MY ARTIST 클릭 시 활성화되는 영역 (E) */
.header_wrap header nav {}
.header_wrap header nav a {display: inline-block;}
.header_wrap header nav a:nth-child(2) {margin: 0 16px;}
.header_wrap header nav a img {}

/* ===============================footer */
footer {
    background-color: #F5F5F5; padding: 64px 90px;
}
footer .f_top {
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 50px;
}
footer .f_top > p {
    color: #959595; font-size: 1.38rem; font-weight: 800;
    letter-spacing: -0.02em;
}
footer .f_top .sns {}
footer .f_top .sns > a {
    background-color: #E8E8E8; border-radius: 50%; overflow: hidden;
    display: inline-block; margin-left: 12px;
    width: 40px; height: 40px;
}
footer .f_top .sns > a img {width: 100%;}
footer address {margin-bottom: 42px;}
footer address > p {font-size: 0.75rem; margin-bottom: 5px; color: #959595;}
footer .f_btm {
    display: flex; justify-content: space-between;
    align-items: flex-end;
}
footer .f_btm .btm_left {}
footer .f_btm .btm_left > a {font-size: 0.75rem; margin-right: 28px;}
footer .f_btm .btm_right {text-align: right;}
footer .f_btm .btm_right > p {font-size: 0.75rem; margin-top: 6px; color: #959595;}