/* 공통요소 */
main {max-width: 1920px; min-width: 340px;}

/* main 배너 시작 */
main .main_bnr {
    background-color: yellow; position: relative;
    width: 100%;
}
main .main_bnr::after {
    content: ''; width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    background: linear-gradient(transparent, rgba(0,0,0,0.6) 69%);
    z-index: 500;
}
main .main_bnr .bnr_slide {}
main .main_bnr .bnr_slide .swiper-slide {}
main .main_bnr .bnr_slide .swiper-wrapper .swiper-slide > p {}
main .main_bnr .bnr_slide .swiper-wrapper .swiper-slide > p img {width: 100%;}
main .main_bnr .bnr_slide .slide1 {}
main .main_bnr .bnr_slide .slide1 img {}
main .main_bnr .bnr_slide .slide2 {}
main .main_bnr .bnr_slide .slide2 img {}
main .main_bnr .bnr_slide .slide3 {}
main .main_bnr .bnr_slide .slide3 img {}
main .main_bnr .bnr_slide .swiper_info {
    position: absolute; left: 0; bottom: ;
}
main .main_bnr .bnr_slide .swiper_info .page_now {
    position: relative; 
}
main .main_bnr .bnr_slide .swiper_info .event-scrollbar {}
main .main_bnr .bnr_slide .swiper_info .active-scrollbar {}
main .main_bnr .bnr_slide .swiper_info .page_all {}
main .main_bnr .bnr_slide .swiper_info .swiper-button-prev,
main .main_bnr .bnr_slide .swiper_info .swiper-button-next {
    z-index: 999; position: relative; background-color: coral;
}
    main .main_bnr .bnr_text_wrap {
    position: absolute; right: 87px; bottom: 87px; width: 100%;
    z-index: 999; text-align: right;
}
main .main_bnr .bnr_text_wrap > * {color: #fff;}
main .main_bnr .bnr_text_wrap p {
    font-size: 1.25rem; font-weight: 500; line-height: 1.3; letter-spacing: -0.02em;
    margin-bottom: 24px;

}
main .main_bnr .bnr_text_wrap .divider {
    width: 60px; height: 2px; background-color: rgba(255,255,255,0.5);
}
main .main_bnr .bnr_text_wrap h1 {
    font-size: 3rem; font-weight: 500;
}
main .main_bnr .bnr_text_wrap p:last-child {}
/* =================================================================new */
main .new_wrap {
    background-color: pink;
    display: flex; padding: 90px;
}
main .new_wrap .new_left {width: 48%; margin-right: 60px;}
main .new_wrap .new_left a {display: inline-block;}
main .new_wrap .new_left a img {width: 100%;}
main .new_wrap .new_right {position: relative;}
main .new_wrap .new_right h1 {}
main .new_wrap .new_right h1 span {}
main .new_wrap .new_right p {}
main .new_wrap .new_right .artist_tap {}
main .new_wrap .new_right .artist_tap a {}
main .new_wrap .new_right .artist_tap .active {}
main .new_wrap .new_right .new_detail {}
main .new_wrap .new_right .artist_logo_new {position: absolute; right: 0; top: 0;}
main .new_wrap .new_right .new_album_wrap {
    position: relative; left: -100px; background-color: yellow;
    display: flex;
}
main .new_wrap .new_right .new_album_wrap a {display: inline-block;}
main .new_wrap .new_right .new_album_wrap a:nth-child(2) {margin: 0 12px;}
main .new_wrap .new_right .new_album_wrap a img {width: 100%;}