/* 공통요소 */
main {max-width: 1920px; min-width: 340px;}
main > div {margin-bottom: 150px;}
main > div:last-child {margin: 0px;}
main > div > h1 {font-family: 'Racing Sans One', sans-serif; font-size: 1.56rem;}
main > div > h1  span {
    font-family: 'Racing Sans One', sans-serif; font-size: 1.56rem;
    color: #3076F9;
}
/* 더보기 버튼 */
.view_all {
    padding: 5px 11px; display: inline-block;
    border: 1px solid #e6e6e6; border-radius: 2px;
    background: linear-gradient(#FEFEFE, #FDFDFD);
}
.view_all span {font-size: 0.75rem; color: #787878;}
.view_all img {}
/* main 배너 시작 */
main .main_bnr {
    position: relative;
    width: 100%; height: 100vh; overflow: hidden;
}
main .main_bnr::after {
    content: ''; width: 100%; height: 100vh;
    position: absolute; left: 0; top: 0;
    background: linear-gradient(transparent 50%, rgba(0,0,0,0.8));
    z-index: 500;
}
main .main_bnr .bnr_slide {
    display: flex; 
}
main .main_bnr .bnr_slide > p {width: 100%;}
main .main_bnr .bnr_slide > p > img {height: 100%;}
main .main_bnr .slide_info {
    position: absolute; left: 90px; bottom: 60px; width: max-content;
    z-index: 700; display: flex; align-items: center;
}
main .main_bnr .slide_info > * {margin-right: 9px;}
main .main_bnr .slide_info .page_now,
main .main_bnr .slide_info .all_page {
    color: #fff; font-size: 0.88rem; font-weight: 300;
}
main .main_bnr .slide_info > p .page_now {}
main .main_bnr .slide_info p .all_page {}
main .main_bnr .slide_info .event_scrollbar {
    width: 130px; height: 1px; background-color: rgba(255,255,255,0.4);
}
main .main_bnr .slide_info .event_scrollbar .active_scrollbar {
    background-color: #fff; width: 100px; height: 1px;
}
main .main_bnr .slide_info .button_prev {}
main .main_bnr .slide_info .button_next {}
main .main_bnr .bnr_text_wrap {
    position: absolute; right: 90px; bottom: 100px; z-index: 600;
    display: flex; flex-flow: column nowrap; align-items: flex-end;
}
main .main_bnr .bnr_text_wrap > * {color: #fff;}
main .main_bnr .bnr_text_wrap > p:first-child {
    font-size: 1.25rem; font-weight: 300; letter-spacing: -0.02em;
    margin-bottom: 28px;
}
main .main_bnr .bnr_text_wrap > .divider {
    width: 50px; height: 1px;
    background: rgba(255,255,255,0.4);
    margin-bottom: 24px;
}
main .main_bnr .bnr_text_wrap h1 {font-size: 3rem; margin-bottom: 16px;}
main .main_bnr .bnr_text_wrap > p:last-child {
    font-size: 1.38rem; font-weight: 200;
}
/* ===============================================================NEW */
main .new_wrap {
    padding: 0 90px; display: flex;
    position: relative; justify-content: space-between;
}
main .new_wrap .new_left {
    position: relative; z-index: 100;
}
main .new_wrap .new_left a {display: inline-block;}
main .new_wrap .new_left a img {border-radius: 30px; overflow: hidden; width: 100%;}
main .new_wrap .new_right {
    width: 52%;
    position: relative; z-index: 300;
    margin-left: 60px;
}
main .new_wrap .new_right .n_right_top {}
main .new_wrap .new_right .n_right_top h1 {
    margin-bottom: 24px;
    font-family: 'Racing Sans One', sans-serif; font-size: 1.56rem;
}
main .new_wrap .new_right h1 span {
    font-family: 'Racing Sans One', sans-serif; font-size: 1.56rem;
    color: #3076F9;
}
main .new_wrap .new_right .n_right_top .border_line {
    width: 40px; height: 1px;
    background: rgba(0,0,0,0.2);
    margin-bottom: 24px;
}
main .new_wrap .new_right .n_right_top .artist_tap {
    max-width: 450px; margin-bottom: 42px;
}
main .new_wrap .new_right .n_right_top .artist_tap a {
    font-size: 0.94rem; margin-bottom: 10px; margin-right: 17px;
    display: inline-block;
}
main .new_wrap .new_right .n_right_top .artist_tap .active {
    font-weight: 500; border-bottom: 1px solid #1E1E1E;
}
main .new_wrap .new_right .n_right_top .new_detail {
    font-size: 0.88rem; line-height: 1.7; color: #787878;
    margin-bottom: 100px;
}
main .new_wrap .new_right .n_right_top .artist_logo_new {
    position: absolute; right: 0px; top: 0;
}
main .new_wrap .new_right .new_album_wrap {
    display: flex; position: relative; left: -100px; 
    transform: scale(1.2);
}
main .new_wrap .new_right .new_album_wrap a {
    width: calc((100% - (12px * 2)) / 3);
}
main .new_wrap .new_right .new_album_wrap a img {width: 100%;  border-radius: 16px; overflow: hidden;}
main .new_wrap .new_right .new_album_wrap a:nth-child(2) {margin: 0 10px;}
main .new_wrap .new_right .new_album_wrap a img {width: 100%;}
/* =========bnr1*/
.bnr1 {clear: both;}
/* ===================================================이번주 핫한 아이템 */
main .hot_wrap {padding: 0 90px;}
main .hot_wrap h1 {margin-bottom: 24px;}
main .hot_wrap h1 span {margin-right: 6px;}
main .hot_wrap .border_line {
    width: 40px; height: 1px;
    background: rgba(0,0,0,0.2);
    margin-bottom: 24px;
}
main .hot_wrap .items_wrap {
    display: flex; justify-content: space-between;
    margin-bottom: 42px;
}
main .hot_wrap .items_wrap .items_tap {}
main .hot_wrap .items_wrap .items_tap a {
    color: #1E1E1E; display: inline-block;
    margin-right: 16px;
}
main .hot_wrap .items_wrap .items_tap .active {
    font-weight: 500; border-bottom: 1px solid #1E1E1E;
}
main .hot_wrap .items_wrap .view_all {}
main .hot_wrap .items_wrap .view_all img {}
main .hot_wrap .hot_contents_wrap {
    display: flex; flex-flow: row wrap; justify-content: space-between;
}
main .hot_wrap .hot_contents_wrap .hot {
    width: calc((100% - (13px * 4)) / 5);
    margin-bottom: 53px;
}
main .hot_wrap .hot_contents_wrap .hot a {
    border-radius: 16px; overflow: hidden;
    display: inline-block;
}
main .hot_wrap .hot_contents_wrap .hot a img {width: 100%;}
main .hot_wrap .hot_contents_wrap .hot .artist {
    font-size: 0.81rem; color: #787878; margin-bottom: 12px;
    margin-top: 12px;
}
main .hot_wrap .hot_contents_wrap .hot .content_title {
    font-size: 0.94rem; line-height: 1.4; margin-bottom: 12px;
}
main .hot_wrap .hot_contents_wrap .hot .price_wrap {}
main .hot_wrap .hot_contents_wrap .hot .price_wrap > * {font-size: 0.94rem; }
main .hot_wrap .hot_contents_wrap .hot .price_wrap .discount {
    margin-right: 4px; color: #434343; font-weight: 500;
}
main .hot_wrap .hot_contents_wrap .hot .price_wrap .price {color: #1E1E1E;}
/* ================================================아티스트 뉴스 */
main .news_wrap { max-width: 100%;}
main .news_wrap h1 {text-align: center; margin-bottom: 24px;}
main .news_wrap h1 span {}
main .news_wrap .news_title_wrap {text-align: center; margin-bottom: 32px;}
main .news_wrap .news_contents_wrap {
    display: flex; background-color: #F5F5F5;
}
main .news_wrap .news_content {flex: 1; padding: 110px 40px;}
main .news_wrap .n_content_02 {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6 ;  
}
main .news_wrap .news_content .artist_logo_news {text-align: center; margin-bottom: 16px;}
main .news_wrap .news_content .artist_logo_news img {}
main .news_wrap .news_content .artist_name {
    text-align: center; margin-bottom: 40px;
    font-size: 0.93rem; color: #434343;
}
main .news_wrap .news_content .artist_news_detail {
    text-align: center; font-size: 0.88rem; line-height: 1.8;
    color: #434343; margin-bottom: 74px;
}
main .news_wrap .news_content .news_img {
    position: relative; width: 100%;
    padding: 0 30px;  display: flex; align-items: center; justify-content: center;
}
main .news_wrap .news_content .news_img .album_img {
    border-radius: 30px; overflow: hidden; width: 100%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    position: relative; z-index: 300; left: 90px;
}
main .news_wrap .news_content .news_img .album_img img {
    width: 102%; transform: translateY(3px);
}
main .news_wrap .news_content .news_img > p {
    width: 100%; position: relative; z-index: 100; right: 40px;
    transform: scale(0.85);
}
main .news_wrap .news_content .news_img > p img {width: 100%;}
/* ====================================================아티스트 응원봉 */
main .sticks_wrap {
    padding: 0 90px;
}
main .sticks_wrap h1 {margin-bottom: 24px;}
main .sticks_wrap > p {
    width: 40px; height: 1px;
    background: rgba(0,0,0,0.2);
    margin-bottom: 24px;
}
main .sticks_wrap .stick_detail_wrap {
    display: flex; justify-content: space-between; margin-bottom: 42px;
}
main .sticks_wrap .stick_detail_wrap > p {
    font-size: 0.75rem; color: #787878;
}
main .sticks_wrap .stick_detail_wrap .view_all {}
main .sticks_wrap .stick_detail_wrap .view_all span {}
main .sticks_wrap .stick_detail_wrap .view_all img {}
main .sticks_wrap .stick_content_wrap {display: flex; justify-content: space-between;}
main .sticks_wrap .stick_content_wrap > a {
    width: calc((100% - (13px * 5)) / 6);
    display: inline-block; border-radius: 16px; overflow: hidden;
}
main .sticks_wrap .stick_content_wrap > a > img {width: 100%;}
main .sticks_wrap .stick_content_wrap > a.active {
    width: calc(((100% - (13px * 5)) / 6) * 2 + 13px);
}
/* =================================================중간 배너2 */
main .bnr_wrap {
    padding: 80px 152px; background-repeat: no-repeat; background-size: cover;
    background-position: center;
}
main .bnr_wrap .bnr_title {
    color: #fff; margin-bottom: 20px; font-size: 2rem;
    line-height: 1.4; font-weight: 500;
    position: relative; z-index: 400;
}
main .bnr_wrap .border_line {
    width: 40px; height: 1px;
    background: rgba(255,255,255,0.4);
    margin-bottom: 24px;
    position: relative; z-index: 400;
}
main .bnr_wrap .bnr_sub {
    color: rgba(255,255,255,0.8); line-height: 1.6;
    font-weight: 300;
    position: relative; z-index: 400;
}
/* 개별 */
main .bnr1 {
    background-image: url(../images/bnr1.jpg); text-align: right;
    position: relative;
}
main .bnr1::after {
    content: ''; width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    background: linear-gradient(90deg, transparent,rgba(0,0,0,0.5));
    z-index: 300;
}
main .bnr2 {background-image: url(../images/bnr2.jpg);}
main .bnr2 .bnr_title {}
main .bnr2 .bnr_sub {}